<section class="password-setting">
    <h2>
        <%= formTitle %>
    </h2>

    <form class="fill-password" onsubmit="return false;">
        <ul class="form-list-default">
            <li>
                <div class="form-item-default">
                    <label for="new_password">
                        <%= newPasswordLabel %>
                    </label>
                    <input type="password" id="new_password" name="new_password" class="default-input" required>
                </div>
            </li>

            <li>
                <div class="form-item-default">
                    <label for="re_new_password">
                        <%= confirmPasswordLabel %>
                    </label>
                    <input type="password" id="re_new_password" name="re_new_password" class="default-input" required>
                </div>
            </li>
        </ul>

        <div class="action-modal">
            <button type="submit" class="default-button button-accent" id="change_password">
                <%= submitButtonText %>
            </button>
        </div>
    </form>

</section>