/.databases
/.git
/databases
/public/node_modules
/public/dist
/public/app/render-views
/public/app/assets/resources
/public/app/assets/css
/public/app/assets/css/styles.css
/public/app/assets/css/styles.css.map
/public/app/assets/css/reset.css
/public/app/assets/resources/imgs