<section class="carousel">
    <h2 id="carousel-title" class="visually-hidden">Promotional carousel</h2>

    <nav class="tns-controls" aria-label="Slide navigation">
        <button data-controls="prev" aria-label="Previous slide"></button>
        <button data-controls="next" aria-label="Next slide"></button>
    </nav>

    <nav class="tns-nav" aria-label="Slide pagination">
        <button data-nav="0" aria-label="Slide 1" aria-current="true" class="tns-nav-active"></button>
        <button data-nav="1" aria-label="Slide 2"></button>
        <button data-nav="2" aria-label="Slide 3" hidden></button>
        <button data-nav="3" aria-label="Slide 4" hidden></button>
        <button data-nav="4" aria-label="Slide 5" hidden></button>
    </nav>

    <div class="tns-liveregion tns-visually-hidden" aria-live="polite" aria-atomic="true">
        Slide <span class="current">9 to 12</span> of 5
    </div>

    <div class="tns-ovh">
        <div class="tns-inner">
            <ul class="slides-carousel" style="">

                <!-- Пример неактивного слайда -->
                <li class="item-content tns-item" aria-hidden="true">
                    <a href="#" class="item">
                        <figure>
                            <img src="storage/blog/Referral.png" alt="Referral program banner">
                        </figure>
                    </a>
                </li>

                <!-- Пример активных слайдов -->
                <li class="item-content tns-item tns-slide-active" id="tns1-item0">
                    <a href="#" class="item">
                        <figure>
                            <img src="storage/blog/Affilliate.png" alt="Affiliate program banner">
                        </figure>
                    </a>
                </li>

                <li class="item-content tns-item tns-slide-active" id="tns1-item1">
                    <a href="#" class="item">
                        <figure>
                            <img src="storage/blog/Vip.png" alt="VIP services banner">
                        </figure>
                    </a>
                </li>

                <li class="item-content tns-item tns-slide-active" id="tns1-item2">
                    <a href="#" class="item">
                        <figure>
                            <img src="storage/blog/Referral.png" alt="Referral program banner">
                        </figure>
                    </a>
                </li>

                <li class="item-content tns-item tns-slide-active" id="tns1-item3">
                    <a href="#" class="item">
                        <figure>
                            <img src="storage/blog/App.png" alt="App download banner">
                        </figure>
                    </a>
                </li>

                <!-- Остальные слайды в том же формате -->
                <li class="item-content tns-item tns-slide-active" id="tns1-item0">
                    <a href="#" class="item">
                        <figure>
                            <img src="storage/blog/Affilliate.png" alt="Affiliate program banner">
                        </figure>
                    </a>
                </li>

                <li class="item-content tns-item tns-slide-active" id="tns1-item1">
                    <a href="#" class="item">
                        <figure>
                            <img src="storage/blog/Vip.png" alt="VIP services banner">
                        </figure>
                    </a>
                </li>

                <li class="item-content tns-item tns-slide-active" id="tns1-item2">
                    <a href="#" class="item">
                        <figure>
                            <img src="storage/blog/Referral.png" alt="Referral program banner">
                        </figure>
                    </a>
                </li>

                <li class="item-content tns-item tns-slide-active" id="tns1-item3">
                    <a href="#" class="item">
                        <figure>
                            <img src="storage/blog/App.png" alt="App download banner">
                        </figure>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</section>