<header>
    <nav class="header-nav">
    </nav>

    <nav class="additional-nav">
        <ul class="header-buttons">
            <% headerButtons.forEach(item=> { %>
                <li>
                    <div class="icon <%= item.icon %>"></div>
                </li>
                <% }) %>

            <li class="auth-section">
                <a href="signin" class="default-button button-text">
                    <span>Log In</span>
                </a>
                <a href="signup" class="default-button button-accent">
                    <span>Sign Up</span>
                </a>
            </li>
        </ul>
    </nav>
</header>