<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <!-- <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <script src="/javascripts/script.js"></script> -->
</head>