<header>
    <nav class="header-nav">
    </nav>

    <nav class="additional-nav">
        <ul class="header-buttons">
            <% headerButtons.forEach(item=> { %>
                <li>
                    <div class="icon <%= item.icon %>"></div>
                </li>
                <% }) %>

                    <li class="profile-section">
                        <img src="<%= avatarSrc %>" id="<%= avatarId %>">
                    </li>
        </ul>
        <div class="modal-menus-wrapper">
            <section class="modal-profile-menu">
                <%- include('header-menu') %>
            </section>
            <!-- <section class="modal-other-menu"></section> -->
            <!-- другие модальные секции -->
        </div>
    </nav>
</header>