<header class="container-content">
    <nav class="header-nav">
    </nav>

    <nav class="additional-nav">
        <ul class="header-buttons">
            <% headerButtons.forEach(item=> { %>
                <li>
                    <div class="icon <%= item.icon %>"></div>
                </li>
                <% }) %>

            <li class="profile-section">
                <img src="<%= avatarSrc %>" id="<%= avatarId %>">
            </li>
        </ul>
    </nav>
</header>