<nav class="main-nav">
    <div class="header-nav">
        <a href="/" class="logo">
            <img src="/resources/icons/favicon.ico" alt="Logo" />
        </a>
        <div class="action-nav">
            <i class="icon icon-hamburger"></i>
        </div>
    </div>
    <ul class="menu-nav">
        <% menuItems.forEach(item=> { %>
            <li>
                <a href="<%= item.href %>" class="<%= item.label===activeLabel ? 'active' : '' %>">
                    <span>
                        <%= item.label %>
                    </span>
                    <i class="icon <%= item.icon %>"></i>
                </a>
            </li>
        <% }) %>
    </ul>
</nav>