<div class="modal-wrappers">
    <section class="modal-profile-menu">
        <%- include('header-menu') %>
    </section>
    <!-- <section class="modal-other-menu"></section> -->
    <!-- другие модальные секции -->
</div>