<div class="modal-wrappers">
    <% (modals || []).forEach(modal=> { %>
        <section class="<%= modal.class %>" style="display: none;">
            <%- include(modal.name) %>
        </section>
    <% }) %>
</div>