<div class="modal-wrappers">
    <section class="modal-profile-menu">
        <%- include('modal-header-menu') %>
    </section>
    <section class="modal-profile-settings" style="display: none;">
        <%- include('modal-profile-settings') %>
    </section>
    <!-- другие модальные секции -->
</div>