<nav class="lang-curr-modal" style="display: none;">
    <div class="modal-main-content">
        <div class="lang-data">
            <a href="/" class="item active">
                <i class="icon icon-lang-en"></i>
                <span>English</span>
            </a>
        </div>
        <!-- <div class="currency-data">
            <a href="#" class="item active">USD</a>
        </div> -->
    </div>
</nav>