@use "../vars" as *;

.profile-settings .form-list-default {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 32px;
}

.profile-settings .form-item-default {
    display: flex;
    flex-direction: column;
    gap: 8px;

    label {
        @include text-style(normal, 12px, 16px, var(--color-inactive), 500);
    }

    input {
        background: var(--color-white);
        border: 1px solid var(--color-ui-muted);

        width: 100%;
        border-radius: var(--radius-base);
        padding: 16px 16px;

        display: flex;

        @include text-style(normal, 14px, 100%, var(--color-ui-active), 700);

        &:focus {
            outline: none;
            border: 1px solid var(--color-primary);
        }

        &[disabled] {
            background: var(--color-bg-light);
            border: 1px solid var(--color-ui-muted);

            @include text-style(normal, 14px, 100%, var(--color-inactive), 500);
        }
    }
}