@use "../vars" as *;

.password-setting {
    display: flex;
    flex-direction: column;
    gap: 32px;

    h2 {
        @include text-style(normal, 20px, 120%, var(--color-ui-active), 700);
    }
}

.password-setting .fill-password {
    display: flex;
    flex-direction: column;
    gap: 32px;
}