@use "../vars" as *;

.twofa {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.twofa .top-2fa {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;

    .qr-scan {
        flex: 1;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;

        h2 {
            @include text-style(normal, 20px, 120%, var(--color-ui-active), 700);
        }

        .qr-image {
            max-width: 228px;
            min-width: 100px;
            max-height: 228px;
            width: 100%;
            height: 100%;

            &>img {
                width: 100%;
                height: 100%;
                object-position: center;
            }
        }
    }

    .qr-data {
        flex: 0;

        display: flex;
        flex-direction: column;
        gap: 24px;

        .qr-data--item {
            display: flex;
            flex-direction: column;
            gap: 8px;

            h3 {
                word-break: break-word;
                @include text-style(normal, 20px, 120%, var(--color-ui-active), 700);
            }

            p {
                @include text-style(normal, 16px, 21px, var(--color-inactive), 400);

                a {
                    text-decoration: underline;
                    color: var(--color-primary);
                    font-weight: 500;
                }
            }
        }

        .app-links {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 16px;

            a {
                border: 1px solid var(--color-ui-muted);
                padding: 4px;
                width: 48px;
                height: 48px;
                border-radius: var(--radius-base);

                display: flex;
                align-items: center;
                justify-content: center;

                &>img {
                    width: 100%;
                    height: 100%;
                    object-fit: scale-down;
                    object-position: center;
                }
            }
        }
    }
}

.twofa .code-qr {
    display: flex;
    flex-direction: column;
    gap: 16px;

    h2 {
        @include text-style(normal, 20px, 120%, var(--color-ui-active), 700);
    }

    .code-qr-content {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
}