@use "./vars" as *;

.primary-balance {
    padding: 40px;
    border-radius: var(--radius-base);
    background-color: var(--color-white);

    display: flex;
    flex-direction: column;
    gap: 40px;
}

.primary-balance header.header-balance {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .balance-info {
        display: flex;
        flex-direction: column;
        gap: 8px;

        &>h3 {
            @include text-style($font-weight: 700, $color: var(--color-ui-active));
        }

        &>.balance-currency {
            display: flex;
            align-items: center;
            gap: 8px;

            &>h2 {
                @include text-style($font-size: 40px, $font-weight: 700, $color: var(--color-ui-active));
            }

            &>span {
                padding: 8px 16px;
                border-radius: 20px;

                @include text-style($font-size: 16px, $font-weight: 700, $color: var(--color-white), $line-height: 100%);
            }
        }

        &>p {
            @include text-style();
        }
    }

    .balance-actions {}
}

.primary-balance .bottom-balance {}