.icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}


.icon {
    position: relative;
    content: "";
    width: 24px;
    height: 24px;

    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    -webkit-transition: background-image .2s;
    transition: background-image .2s;
}

/************** icon-home **************/
.icon-home {
    background-image: url('/icons/home.svg');
}

/************** icon-exchange **************/
.icon-exchange {
    background-image: url('/icons/exchange.svg');
}

/************** icon-wallets **************/
.icon-wallets {
    background-image: url('/icons/wallets.svg');
}

/************** icon-buy-crypto **************/
.icon-buy-crypto {
    background-image: url('/icons/buy-crypto.svg');
}

/************** icon-activities **************/
.icon-activities {
    background-image: url('/icons/activities.svg');
}

/************** icon-hamburger **************/
.icon-hamburger {
    background-image: url('/icons/hamburger.svg');
}

/************** icon-sun **************/
.icon-sun {
    background-image: url('/icons/sun.svg');
}

/************** icon-lang **************/
.icon-lang {
    background-image: url('/icons/lang.svg');
}

/************** icon-deposit **************/
.icon-deposit {
    background-image: url('/icons/deposit.svg');
}

/************** icon-withdraw **************/
.icon-withdraw {
    background-image: url('/icons/withdraw.svg');
}

/************** icon-arrow-down **************/
.icon-arrow-down {
    background-image: url('/icons/arrow-down.svg');
}

/************** icon-arrow-up **************/
.icon-arrow-up {
    background-image: url('/icons/arrow-up.svg');
}