@use "sass:color";
@use "./vars" as *;

@media screen and (max-width: 600px) {
    .default-button {
        height: 40px;
        padding: 0 16px;
        font-size: 12px;
    }


    .primary-balance {
        padding: 16px;


        .balance-info {
            h3 {
                font-size: 16px !important;
                line-height: 120% !important;
            }

            h2 {
                font-size: 28px !important;
            }

            .balance-usd {
                font-size: 16px !important;
                line-height: 120% !important;
            }
        }

        .balance-actions {
            & button {
                width: 100%;
            }
        }
    }

    .block-advantages {
        .main-image {
            min-width: 100%;
        }

        .block-advantages-content {
            min-width: 100%;
        }
    }

    .block-information {
        h2 {
            font-size: 32px !important;
            line-height: 120% !important;
        }

        .main-list {
            grid-template-columns: 1fr 1fr;

            h2 {
                font-size: 16px !important;
                line-height: 120% !important;
            }

            p {
                font-size: 12px !important;
                line-height: 20px !important;
            }
        }
    }

    .asset-items {
        .asset-image {
            width: 40px !important;
            ;
            height: 40px !important;
            ;
        }

        .asset-info {
            p {
                font-size: 12px !important;
                ;
                line-height: 16px !important;
                ;
            }

            .top-asset-info {
                h2 {
                    font-size: 14px !important;
                    ;
                }

                p {
                    font-size: 10px !important;
                    ;
                }
            }
        }

        header {
            padding: 16px;
        }

        .body-asset {
            flex-direction: row;
            padding: 16px;
            gap: 16px;

            .price-info {
                flex-direction: column;
                gap: 8px;
                justify-content: space-evenly;

                strong {
                    font-size: 14px !important;
                    ;
                    line-height: 18px !important;
                    ;
                }

                p {
                    font-size: 12px !important;
                    ;
                }

                .icon {
                    width: 16px !important;
                    ;
                    height: 16px !important;
                    ;
                }

                .gain-asset {
                    gap: 4px !important;
                    ;
                }
            }

            .chart-info {
                height: 60px;
            }
        }

    }
}

@media screen and (max-width: 600px) {
    .block-carousel {
        padding: 16px 0px;

        .block-carousel-controls {
            display: none;
        }

        .block-carousel-wrapper {
            padding: 0px 0px 0px 0px;
        }

        .block-carousel-list>li {
            flex: 0 0 100% !important;
        }
    }
}