@use "sass:color";
@use "./vars" as *;

@media screen and (max-width: 1144px) {
    .profile-settings {
        padding: 16px;

        .head--profile-settings {
            gap: 24px;
        }

        .head-title {
            h2 {
                font-size: 20px !important;
                line-height: 120% !important;
            }
        }

        .icon-button {
            padding: 6px;

            .icon {
                width: 18px;
                height: 18px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .twofa {
        h2 {
            font-size: 16px !important;
            line-height: 120% !important;
        }

        p {
            font-size: 14px;
            line-height: 18px;
        }

        .qr-image {
            max-width: 188px !important;
        }

        .code-qr {
            .code-qr-content {
                .form-list-one-cell {
                    gap: 0;
                    justify-content: space-between;

                    input {
                        width: 40px;
                        height: 60px;
                    }
                }
            }
        }
    }

    .referrals-setting {
        h2 {
            font-size: 16px !important;
            line-height: 20px !important;
        }

        p {
            font-size: 14px !important;
            line-height: 18px !important;
        }

        .content-invite {
            padding: 16px !important;
        }
    }

    .profile-settings {
        .head-navigate {
            gap: 20px;

            .ui-button {
                padding: 14px 14px;
            }
        }
    }

    .account-setting {
        .avatar-account {
            justify-content: center;

            .action-avatar {
                gap: 8px;
            }
        }

    }
}

@media screen and (max-width: 400px) {
    .account-setting {
        .action-avatar {
            flex: 1;
            flex-direction: column;

            .default-button {
                width: 100%;
            }
        }
    }
}