@use "./vars" as *;

.modal-wrappers {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 100;

    &>* {
        pointer-events: auto;
    }
}

.modal-wrappers .modal-profile-menu {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 88px var(--global-padding-side);
    z-index: 101;

    display: none;
    // width: 100%;
    // height: 100%;
    // justify-content: flex-end;
    // align-items: flex-start;
    // background-color: aqua;
}

.modal-wrappers .modal-profile-settings {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--color-overlay-dark);
    z-index: 102;

    display: flex;
    align-items: center;
    justify-content: center;
}