@use "./vars" as *;

.modal-wrappers {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 100;

    &>* {
        pointer-events: auto;
    }
}

.modal-wrappers .modal-profile-menu {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 88px var(--global-padding-side);
    z-index: 101;
}