$radius-base: 12px;
$radius-banner: 24px; // радиус для баннеров и больших блоков

$color-primary: #3772FF; // основной цвет (акценты, активные элементы)
$color-inactive: #777E90; // базовый цвет текста (неактивный)
$color-bg-light: #E0E9FD; // светлый фон (для активных или других блоков)
$color-ui-muted: #1f212814; // цвет разделителей (для границ, линий и т.д.)
$color-ui-active: #191B21; // цвет активных элементов интерфейса (например, при наведении)
$color-white: #FFFFFF; // белый цвет (для фона, кнопок и т.д.)
$color-bg-base: #F7F9FD; // основной цвет фона
$color-primary-hover: #195AF5; // цвет при наведении на активные элементы
$color-positive: #4FBF67; // цвет для положительных значений (например, доход)
$color-negative: #E32D2D; // цвет для отрицательных значений (например, убыток)
$color-shadow: #1f1f1f3d; // цвет тени (для теней, например, у кнопок)
$color-overlay-dark: #191b21a3; // темный оверлей (для затемнения фона при открытии модальных окон)

$font-size-base: 16px;
$font-weight-medium: 500;

$global-padding-side: 26px; // отступы по бокам для контента

:root {
    --radius-base: #{$radius-base};
    --radius-banner: #{$radius-banner};

    --color-primary: #{$color-primary};
    --color-primary-hover: #{$color-primary-hover};
    --color-inactive: #{$color-inactive};
    --color-bg-light: #{$color-bg-light};
    --color-ui-muted: #{$color-ui-muted};
    --color-white: #{$color-white};
    --color-bg-base: #{$color-bg-base};
    --color-ui-active: #{$color-ui-active};
    --color-positive: #{$color-positive};
    --color-negative: #{$color-negative};
    --color-shadow: #{$color-shadow};
    --color-overlay-dark: #{$color-overlay-dark};

    --font-size-base: #{$font-size-base};
    --font-weight-medium: #{$font-weight-medium};

    --global-padding-side: #{$global-padding-side};
}

@mixin icon-active($selector, $url) {
    #{$selector} {
        background-image: url(#{$url});
    }
}

@mixin generate-active-icons($icons) {
    @each $selector, $url in $icons {
        @include icon-active($selector, $url);
    }
}


@mixin text-style($font-style: normal,
    $font-size: 20px,
    $line-height: 120%,
    $color: var(--color-inactive),
    $font-weight: 500,
) {
    font-style: $font-style;
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
    font-weight: $font-weight;
}

@mixin flex-gap($gap: 0px, $dir: row) {
    display: flex;
    flex-direction: $dir;
    gap: $gap;
}

@mixin flex-container($gap: 0px, // промежуток между элементами
    $dir: row, // направление flex: row | column | row-reverse | column-reverse
    $justify: flex-start, // justify-content
    $align: stretch, // align-items
    $wrap: nowrap, // перенос строк: nowrap | wrap | wrap-reverse

) {
    display: flex;
    flex-direction: $dir;
    flex-wrap: $wrap;
    gap: $gap;
    justify-content: $justify;
    align-items: $align;
}