@use "sass:color";

@use "./vars" as *;
@use "./icons.scss";
@use "./main-nav";
@use "./header";
@use "./footer";
@use "./block-balance";
@use "./block-assets";
@use "./header-menus";
@use "./modal-wrappers";
@use "./profile-settings";

* {
    font-family: "DM Sans", -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
}

body {
    background-color: var(--color-bg-base);
}

main {
    flex: 1;
    height: 100vh;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
}

.content-container {
    max-width: 1348px;
    width: 100%;

    &>* {
        margin-left: var(--global-padding-side);
        margin-right: var(--global-padding-side);
    }
}

.default-button {
    border-radius: var(--radius-base);
    height: 48px;
    padding: 0 24px;
    font-weight: var(--font-weight-medium);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.ui-button {
    padding: 6px 14px;
    border-radius: var(--radius-banner);
    text-align: center;
    cursor: pointer;

    @include text-style(normal, 14px, 18px, var(--color-ui-active), 500);
}

.icon-button {
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;

    // &>.icon{
    //     width: 18px;
    //     height: 18px;
    // }
}


.button-text {
    padding: 0;
    color: var(--color-inactive);

    &:hover {
        cursor: pointer;
        color: var(--color-ui-active);
    }
}

.button-accent {
    background-color: var(--color-primary);
    color: var(--color-white);

    &:hover {
        cursor: pointer;
        background-color: var(--color-primary-hover);
    }
}

.button-muted {
    background-color: var(--color-ui-muted);
    color: var(--color-ui-active);

    &:hover {
        cursor: pointer;
        background-color: color.scale($color-ui-muted, $lightness: 50%);
    }
}

.button-active {
    border: 1px solid var(--color-bg-light);
    background-color: var(--color-bg-light);
    color: var(--color-primary);
}

.button-inactive {
    color: var(--color-inactive);
    border: 1px solid var(--color-ui-muted);

    &:hover {
        cursor: pointer;
        color: var(--color-ui-active);
        border: 1px solid var(--color-white);
        background-color: var(--color-white);
    }
}