<section class="primary-benefit" aria-labelledby="affiliate-benefits">
    <div class="item">
        <figure class="image-benefit">
            <img src="imgs/benefit-a.png" alt="Illustration showing affiliate benefits">
        </figure>
    </div>

    <div class="item">
        <article class="benefit-details">
            <h3>Become an affiliate</h3>
            <h2 id="affiliate-benefits">Benefits For You</h2>
            <p>Referring to <span>TanukiCode</span> is a win-win situation.</p>

            <ul class="benef-items">
                <li class="item">
                    <div class="benef-item-data">
                        <h4>Monetize your influence</h4>
                    </div>
                </li>
                <li class="item">
                    <div class="benef-item-data">
                        <h4>Enjoy guaranteed payouts</h4>
                    </div>
                </li>
                <li class="item">
                    <div class="benef-item-data">
                        <h4>Maximize your earnings</h4>
                    </div>
                </li>
            </ul>

            <a href="profile/" class="default-button button-b">
                <span>Become an Affiliate</span>
            </a>
        </article>
    </div>
</section>