:root {
  --radius-base: 12px;
  --color-primary: #3772FF;
  --color-primary-hover: #195AF5;
  --color-inactive: #777E90;
  --color-bg-light: #E0E9FD;
  --color-divider: rgba(31, 33, 40, 0.0784313725);
  --color-white: #FFFFFF;
  --color-bg-base: #F7F9FD;
  --color-ui-active: #191B21;
  --font-size-base: 16px;
  --font-weight-medium: 500;
}

.icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.icon {
  position: relative;
  content: "";
  width: 24px;
  height: 24px;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-transition: background-image 0.2s;
  transition: background-image 0.2s;
}

/************** icon-home **************/
.icon-home {
  background-image: url("/icons/home.svg");
}

/************** icon-exchange **************/
.icon-exchange {
  background-image: url("/icons/exchange.svg");
}

/************** icon-wallets **************/
.icon-wallets {
  background-image: url("/icons/wallets.svg");
}

/************** icon-buy-crypto **************/
.icon-buy-crypto {
  background-image: url("/icons/buy-crypto.svg");
}

/************** icon-activities **************/
.icon-activities {
  background-image: url("/icons/activities.svg");
}

/************** icon-hamburger **************/
.icon-hamburger {
  background-image: url("/icons/hamburger.svg");
}

/************** icon-sun **************/
.icon-sun {
  background-image: url("/icons/sun.svg");
}

/************** icon-lang **************/
.icon-lang {
  background-image: url("/icons/lang.svg");
}

.main-nav {
  flex: 1;
  max-width: 260px;
  width: 100%;
  padding: 32px 20px;
  overflow: hidden;
  border-right: 1px solid var(--color-divider);
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.main-nav .header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
  align-items: center;
}
.main-nav .header-nav .logo {
  height: 34px;
  display: flex;
  justify-content: flex-start;
}

.main-nav .action-nav {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-nav .action-nav:hover {
  cursor: pointer;
}

.main-nav ul.menu-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.main-nav ul.menu-nav li {
  display: flex;
}
.main-nav ul.menu-nav li.active a,
.main-nav ul.menu-nav li a.active {
  background-color: var(--color-bg-light);
}
.main-nav ul.menu-nav li.active a span,
.main-nav ul.menu-nav li a.active span {
  color: var(--color-primary);
}
.main-nav ul.menu-nav li.active a .icon-home,
.main-nav ul.menu-nav li a.active .icon-home {
  background-image: url(/icons/home-active.svg);
}
.main-nav ul.menu-nav li.active a .icon-exchange,
.main-nav ul.menu-nav li a.active .icon-exchange {
  background-image: url(/icons/exchange-active.svg);
}
.main-nav ul.menu-nav li.active a .icon-wallets,
.main-nav ul.menu-nav li a.active .icon-wallets {
  background-image: url(/icons/wallets-active.svg);
}
.main-nav ul.menu-nav li.active a .icon-buy-crypto,
.main-nav ul.menu-nav li a.active .icon-buy-crypto {
  background-image: url(/icons/buy-crypto-active.svg);
}
.main-nav ul.menu-nav li.active a .icon-activities,
.main-nav ul.menu-nav li a.active .icon-activities {
  background-image: url(/icons/activities-active.svg);
}
.main-nav ul.menu-nav li.active a .icon-hamburger,
.main-nav ul.menu-nav li a.active .icon-hamburger {
  background-image: url(/icons/hamburger-active.svg);
}
.main-nav ul.menu-nav a {
  position: relative;
  flex: 1;
  border-radius: var(--radius-base);
  padding: 16px;
  gap: 16px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}
.main-nav ul.menu-nav a span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-style: normal;
  font-size: var(--font-size-base);
  color: var(--color-inactive);
  font-weight: var(--font-weight-medium);
}
.main-nav ul.menu-nav a .icon {
  fill: var(--color-inactive);
}
.main-nav ul.menu-nav a:hover {
  cursor: pointer;
  background-color: var(--color-white);
}
.main-nav ul.menu-nav a:hover span {
  color: var(--color-primary);
}
.main-nav ul.menu-nav a:hover .icon-home {
  background-image: url(/icons/home-active.svg);
}
.main-nav ul.menu-nav a:hover .icon-exchange {
  background-image: url(/icons/exchange-active.svg);
}
.main-nav ul.menu-nav a:hover .icon-wallets {
  background-image: url(/icons/wallets-active.svg);
}
.main-nav ul.menu-nav a:hover .icon-buy-crypto {
  background-image: url(/icons/buy-crypto-active.svg);
}
.main-nav ul.menu-nav a:hover .icon-activities {
  background-image: url(/icons/activities-active.svg);
}
.main-nav ul.menu-nav a:hover .icon-hamburger {
  background-image: url(/icons/hamburger-active.svg);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header .additional-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .additional-nav .header-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
header .additional-nav ul > li:hover {
  cursor: pointer;
}
header .additional-nav ul > li:hover .icon-sun {
  background-image: url(/icons/sun-active.svg);
}
header .additional-nav ul > li:hover .icon-lang {
  background-image: url(/icons/lang-active.svg);
}
header .additional-nav .profile-section {
  width: 48px;
  height: 48px;
  display: flex;
  flex-direction: row;
}
header .additional-nav .profile-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header .additional-nav .auth-section {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

* {
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: var(--color-bg-base);
}

main {
  flex: 1;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
}

.content-container {
  max-width: 1348px;
  padding: 32px 20px;
  width: 100%;
}

.default-button {
  border-radius: var(--radius-base);
  height: 48px;
  padding: 0 24px;
  font-weight: var(--font-weight-medium);
  display: flex;
  align-items: center;
}

.button-text {
  padding: 0;
  color: var(--color-inactive);
}
.button-text:hover {
  color: var(--color-ui-active);
}

.button-accent {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.button-accent:hover {
  background-color: var(--color-primary-hover);
}

/*# sourceMappingURL=styles.css.map */
