<div class="profile-settings">
    <header class="head--profile-settings">
        <div class="head-title">
            <h2>Redeem</h2>
            <button type="button" class="icon-button button-active" btn-id="close">
                <i class="icon icon-close"></i>
            </button>
        </div>
    </header>

    <div class="body--profile-settings--content">
        <form class="fill-voucher" onsubmit="return false;">
            <ul class="fform-list-default">
                <li>
                    <div class="form-item-default">
                        <label for="promocode">Enter the code</label>
                        <input type="text" id="promocode" class="default-input" value="">
                        <p>Each code can be only redeemed once per user. Once
                            redeemed, the reward cannot be reserved</p>
                    </div>
                </li>
            </ul>

            <div class="action-modal">
                <button type="submit" class="default-button button-accent" id="activate_promo">
                    <p>Enable</p>
                </button>
            </div>
        </form>
    </div>

</div>