<nav class="lang-curr-modal">
    <div class="modal-main-content">
        <div class="lang-data">
            <button class="item active" target="en">
                <i class="icon icon-lang-en"></i>
                <span>English</span>
            </button>
        </div>
        <!-- <div class="currency-data">
            <a href="#" class="item active">USD</a>
        </div> -->
    </div>
    <div class="modal-main-content">
        <div class="lang-data">
            <button class="item" target="ru">
                <i class="icon icon-lang-en"></i>
                <span>Русский</span>
            </button>
        </div>
    </div>
</nav>